@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h1>@localizer["Welcome"]</h1>
<h1>@ViewData["culture"]</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        @Html.Partial(@"..\Shared\_Search.cshtml","Post")
    </li>
</ul>
<a class="navbar-brand" asp-area="" asp-controller="Animal" asp-action="Index">Animal</a>
<a class="navbar-brand" asp-area="" asp-controller="Car" asp-action="Index">Car</a>


