@using BulletinBoard.Data.ViewModels
@using BulletinBoard.Data.Enums
@model AnimalAttributeVM
@{
    ViewData["Title"] = "Create a new Post";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new Animal</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div>
                    <span>Categriy: @Categories.Animal</span>
                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Post" asp-action="ChooseAttribute">Change Category</a>
                </div>

                <form asp-action="AddNewAnimal" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Post.Titile" class="control-label"></label>
                                <input asp-for="Post.Titile" class="form-control" />
                                <span asp-validation-for="Post.Titile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Post.Price" class="control-label"></label>
                                <input asp-for="Post.Price" type="number" class="form-control" />
                                <span asp-validation-for="Post.Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Age" class="control-label"></label>
                                <input asp-for="Age" type="number" class="form-control" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Post.Description" class="control-label"></label>
                                <textarea asp-for="Post.Description" class="form-control"></textarea>
                                <span asp-validation-for="Post.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    @*<div class="image-preview-container">
                    <div class="preview">
                    <img style="width: 300px" id="preview-selected-image0" />
                    </div>
                    <label for="file-upload">Upload Image</label>
                    <input type="file" id="file-upload" accept="image/*" onchange="previewImage(event, 0);" />
                    </div>

                    <div class="image-preview-container">
                    <div class="preview">
                    <img style="width: 300px" id="preview-selected-image1" />
                    </div>
                    <label for="file-upload">Upload Image</label>
                    <input type="file" id="file-upload" accept="image/*" onchange="previewImage(event,1);" />
                    </div>*@
                    <div>
                        @for (int i = 0; i <= 7; i++)
                        {
                            string PATH = "preview" + i;

                            <div class="image-preview-container">
                                <div class="preview">
                                    <img style="width: 300px" id=@PATH />
                                </div>
                                <label for="file-upload">Upload Image</label>
                                <input asp-for="Post.ImageFile" type="file" id="file-upload" accept="image/*" onchange="previewImage(event , '@i.ToString()');" />
                            </div>
                        }
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const previewImage = (event, id) => {
        /**
         * Get the selected files.
         */
        const imageFiles = event.target.files;
        /**
         * Count the number of files selected.
         */
        const imageFilesLength = imageFiles.length;
        /**
         * If at least one image is selected, then proceed to display the preview.
         */
        if (imageFilesLength > 0) {
            /**
             * Get the image path.
             */
            const imageSrc = URL.createObjectURL(imageFiles[0]);
            /**
             * Select the image preview element.
             */
            const imagePreviewElement = document.querySelector("#preview" + id);
            /**
             * Assign the path to the image preview element.
             */
            imagePreviewElement.src = imageSrc;
            /**
             * Show the element by changing the display value to "block".
             */
            imagePreviewElement.style.display = "block";
        }
    };
</script>

