@using BulletinBoard.Models.AttributeModels
@model List<AnimalAttribute>

<div class="row">
    @foreach (var item in Model)
    {
          @await Html.PartialAsync("../Post/_PostCard.cshtml" , (Post)item.MainPost.MainPost)
    }
</div>