@using BulletinBoard.Models.AttributeModels
@model PagedList<AnimalAttribute>

<div class="row">
    <form asp-action="Filter" enctype="multipart/form-data" method="post">
        <fieldset>

            <p>
                <label for="minAge">from Age:</label>
                <input type="number" name="minAge" value=0 />
            </p>
            <p>
                <label for="maxAge">to Age:</label>
                <input type="number" name="maxAge" value=100 />
            </p>

            <p><input type="submit" name="buttonSubmit" value="Submit Filters" /></p>
        </fieldset>
    </form>
    @foreach (var item in Model.Items)
    {
        @await Html.PartialAsync("../Post/_PostCard.cshtml" , (Post)item.MainPost.MainPost)
    }
</div>
<footer>
    <div style=" text-align:center;">
        <span>
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageNumber - 1 == 0 ? Model.PageNumber:Model.PageNumber-1)"
               class="bi bi-chevron-left" style="background-color:darkorange;width:20%;text-align:center;padding:7px;"></a>
        </span>
        <span>
            Page @(Model.PageNumber < Model.PageNumber ? 0 : Model.PageNumber)
        </span>
        <span>
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageNumber + 1 > Model.TotalPagesCount ? Model.PageNumber:Model.PageNumber+1)"
               class="bi bi-chevron-right" style="background-color:darkorange;width:20%;text-align:center;padding:7px;"></a>
            </a>
        </span>
    </div>
</footer>