@model string
<form class="form-inline my-2 my-lg-0" asp-controller="@Model" asp-action="Index" style="padding-right: 5px;">
    <input name="searchTitile" type="text" class="form-control" placeholder="Search for a item..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <input name="searchLocation" type="text" class="form-control" placeholder="Ukraine" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
</form>
